<table [ngStyle]="{'border-style': 'solid'}">
  <tr>
    <th>Name</th>
    <th>Birthday</th>
    <th>Team</th>
  </tr>
  <tr *ngFor = "let member of trainers" [ngSwitch] = "member?.team">
    <td>
      {{member.name}}
    </td>
    <td *empty = "member.birthday" 
        [ngClass] = "{'empty-bg': member.birthday == ''}">
        Empty
    </td>
    <td [ngClass] = "{
        'yellow-color': member.team == 'FE',
        'red-color': member.team =='Ruby'
      }">
        {{member.team}}
    </td>
    <td>
      <button (click) = "member.isShow = !member.isShow">
        Detail
      </button>
    </td>
    <div *ngIf = "member.isShow">
      <h3>I'm {{member.name}}</h3>
      <p *empty = "member.birthday" [ngClass] = "{'empty-bg': member.birthday == ''}">
        Empty
      </p>
      <p [ngClass] = "{'yellow-color': member.team == 'FE', 'red-color': member.team =='Ruby'}">
        {{member.team}}
      </p>
    </div>
  </tr>
</table>
