<register (addMember)="onChange($event)" [id]='memberId'></register>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Birthday</th>
			<th>Team</th>
			<th>Joined</th>
			<th>Skill</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let member of members" class="form-group">
			<td>{{member.name}}</td>
			<td>{{member.birthday}}</td>
			<td>{{member.team}}</td>
			<td>{{member.joined}}</td>
			<td>{{member.skill}}</td>
			<td><button class="btn btn-primary" (click)="getId(member.id)">Show</button></td>
		</tr>
	</tbody>
</table>
